extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let gameid = toShow._id
    - let game_title = toShow.title
    - let game_style = toShow.game_style
    - let game_size = toShow.game_size
    - let rating = toShow.rating
    - let actionid = "/resource/games/" + gameid
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='gameAttr mr-3') Game ID is:
        div #{gameid}
      div.row
        div(class='gameAttr mr-3') Game Title is:
        div #{game_title}
      div.row
        div(class='gameAttr mr-3') Game Style is:
        div #{game_style}
      div.row
        div(class='gameAttr mr-3') Game Size is:
        div #{game_size}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the game collection
      window.location.href='/games'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
    fetch(actionid, {
      method: 'DELETE' // Don't need a body for the delete
    }).then((resp) => {
      return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
      alert("Delete succeded")
      window.location.href='/games'
      // TODO handle body
    }).catch((error) => {
      // TODO handle error
      alert("Delete failed " + error )
    });
    }
